<!--
<body>
    %for tehnika in upo.seznam_tehnik:
        <h2 style="text-transform:uppercase">{{tehnika.ime}} vaje</h2>
        %for odsek in tehnika.odseki_tehnike:  

            %if gen[tehnika.ime][odsek.ime][0]:
                <ul style="list-style-type:none;">
                    <h3 style="text-transform:uppercase">
                        <form action="/generator_skrij/{{tehnika.ime}}/{{odsek.ime}}/">
                            {{odsek.ime}}<input type="submit" value="skrij">
                        </form>
                    </h3>
                    %for nivo in odsek.nivoji:
                        % max_n = len(nivo.vaje)
                        % nivo_gen = upo.generator[tehnika.ime][odsek.ime][1][nivo.ime][1]

                        %if gen[tehnika.ime][odsek.ime][1][nivo.ime][0]:
                                <li>
                                    <form action="/generator_skrij/{{tehnika.ime}}/{{odsek.ime}}/{{nivo.ime}}/">
                                        <b style="text-transform:uppercase">{{nivo.ime}}</b>
                                        <input type="submit" value="skrij">
                                    </form>
                                        <input type="number" name= {{nivo.ime}} value={{nivo_gen}} min="0" max = {{max_n}} required>&nbsp;
                                    <ul style="list-style-type:none;">
                                        %for vaja in nivo.vaje:
                                            <li>{{vaja.ime}}</li>
                                        %end
                                    </ul>
                                    <br>
                                </li>
                        %else:
                            <li>
                                <form action="/generator_pokazi/{{tehnika.ime}}/{{odsek.ime}}/{{nivo.ime}}/">
                                    <b style="text-transform:uppercase">{{nivo.ime}}</b>
                                    <input type="submit" value="pokaži več">
                                </form>
                            </li>
                        %end
                    %end
                </ul>
            %else:
                <h3 style="text-transform:uppercase">
                <form action="/generator_pokazi/{{tehnika.ime}}/{{odsek.ime}}/">
                    {{odsek.ime}}<input type="submit" value="pokaži več">
                </form>
                </h3>
            %end
        </ul>
        %end
        <hr>
    %end
    <a href="http://127.0.0.1:8080">NAZAJ</a>
    <a href="http://127.0.0.1:8080/odjavi/se/">ODJAVA</a>
</body>

<style>
    form {
        display: inline;
    }
</style>
-->
<body>
    <form action="/generiraj_pripravo/">
    <!--
    %lst = ["prilagajanje", "prsno", "kravl", "hrbtno"]
    %for disciplina in lst:
    <li><a href="http://127.0.0.1:8080/{{disciplina}}/">{{disciplina}}</a></li>
    %end
    -->
    
    %for tehnika in upo.seznam_tehnik:
    <!--tecemo po vseh tehnikah-->
        <h2 style="text-transform:uppercase">{{tehnika.ime}} vaje</h2>
        %for odsek in tehnika.odseki_tehnike:  
        <!--tecemo po vseh delih ene tehnike, -->
            <h3 style="text-transform:uppercase">{{odsek.ime}}:</h3>
            %for nivo in odsek.nivoji:
                %max_n = len(nivo.vaje)
                <ul style="list-style-type:none;">
                    <b style="text-transform:uppercase">{{nivo.ime}}</b>
                    <input type="number" name={{nivo.ime}} value= "0" min="0" max = {{max_n}} required>&nbsp;
                %for vaja in nivo.vaje:
                    <li>{{vaja.ime}}</li>
                %end
                </ul>
            %end
        %end
        <hr>
    %end

    poudarek priprave: 
    <input type="text" name="poudarek" placeholder="..."required minlength="3">&nbsp;
    <input type="submit" value="GENERIRAJ PRIPRAVO">
    </form>
    <a href="http://127.0.0.1:8080">NAZAJ</a>
    <a href="http://127.0.0.1:8080/odjavi/se/">ODJAVA</a>
</body>
<style>
    input[type=number],
    select {
    width: 4%;
  }
</style>
