<body>
    <b>POUDAREK PRIPRAVE:</b> {{prip.poudarek}}
    <br><br>
    <b>VAJE:</b>
    <ul style="list-style-type:none;">
    %for tehnika in prip.slovar_vaj.keys():
        %if len(prip.slovar_vaj[tehnika]) > 0:
            <div style="text-transform:uppercase">-{{tehnika}} vaje:</div>
            %for vaja in prip.slovar_vaj[tehnika]:
                <li>
                    {{vaja.ime}} → pozornost: [{{vaja.pozornosti[0]}}] → {{vaja.dolzine[0]}}
                </li>
            %end
        <br>
        %else:
            %pass
        %end
     %end
     
    </ul>
        <button type="submit" id="shrani" onclick="myFunction()">shrani pripravo</button>
    <script>
    function myFunction() {
        document.getElementById("shrani").innerHTML ="priprava shranjena";
    }
    </script>
    <br>
    <a href="http://127.0.0.1:8080/generator_priprav/">NAZAJ</a>
    <a href="http://127.0.0.1:8080">NAZAJ DOMOV</a>
    <a href="http://127.0.0.1:8080/odjavi/se/">ODJAVA</a>
</body>