<body>
    <b>POUDAREK PRIPRAVE:</b> {{prip.poudarek}}
    <br><br>
    <b>VAJE:</b>
    <ul style="list-style-type:none;">
    %for tehnika in prip.slovar_vaj.keys():
        %if len(prip.slovar_vaj[tehnika]) > 0:
            <div style="text-transform:uppercase">-{{tehnika}} vaje:</div>
            %for vaja in prip.slovar_vaj[tehnika]:
                <li>
                    {{vaja.ime}} → pozornost: [{{vaja.pozornosti[0]}}] → {{vaja.dolzine[0]}}
                </li>
            %end
        <br>
        %else:
            %pass
        %end
    %end

    %vaje = ""
    %for tehnika in prip.slovar_vaj.keys():
        %for vaja in prip.slovar_vaj[tehnika]: 
            %vaje = vaje+f'ime:{vaja.ime}'+f'pozornost:{vaja.pozornosti[0]}'+f'dolzina:{vaja.dolzine[0]}&'
        %end
    %end 

    </ul>

    %if shranjena:
        <input type="submit" id="shrani" value ="priprava shranjena">
    %else:
        <form action="/shrani_pripravo/{{prip.poudarek}}/{{vaje}}/">
            <input type="submit" value ="shrani pripravo">
        </form>
    %end

    <br>

    <a href="http://127.0.0.1:8080/generator_priprav/">NAZAJ</a>
    <a href="http://127.0.0.1:8080">NAZAJ DOMOV</a>
    <a href="http://127.0.0.1:8080/odjavi/se/">ODJAVA</a>
</body>