<body>
    <h2 style="text-transform:uppercase">{{izpis.ime}} vaje</h2>
        %for odsek in izpis.odseki_tehnike:  
            <form action="/izbrisi_odsek/{{odsek.ime}}/{{izpis.ime}}/">
                <h3 style="text-transform:uppercase">{{odsek.ime}}:
                <input type="submit" value="IZBRIŠI"></h3>
            </form>

                %for nivo in odsek.nivoji:
                    <ul style="list-style-type:none;">
                    <form action="/izbrisi_nivo/{{nivo.ime}}/{{odsek.ime}}/{{izpis.ime}}/">
                        <b style="text-transform:uppercase">{{nivo.ime}}</b>
                        <input type="submit" value="IZBRIŠI">
                    </form>

                        %for vaja in nivo.vaje:
                            <li>
                                <form action="/izbrisi_vaja/{{vaja.ime}}/{{nivo.ime}}/{{odsek.ime}}/{{izpis.ime}}/">
                                    {{vaja.ime}} → pozornost: {{vaja.pozornosti}}
                                    <input type="submit" value="izbriši">
                                </form>
                            </li>
                        %end

                    <br>
                    <form action="/{{izpis.ime}}/{{odsek.ime}}/{{nivo.ime}}/posodobi_vaja/">
                        →vaja: <input type="text" name="vaja" placeholder="..."required
                        minlength="4">&nbsp;
                        pozornosti: <input type="text" name="pozornosti" placeholder="...">&nbsp;
                        dolzine: <input type="text" name="dolzina" placeholder="...">&nbsp;
                        <input type="submit" value="DODAJ VAJO">
                    </form>
                    </ul>
                    <br> 
                %end

            <ul>
                <form action='/{{izpis.ime}}/{{odsek.ime}}/posodobi_nivo_odsek/'>
                    <b style="text-transform:uppercase">nivo odseka tehnike</b>: <input type="text" name="nivo_odseka_tehnike" placeholder="..."required
                    minlength="3">&nbsp;
                    <input type="submit" value="DODAJ NIVO ODSEKA TEHNIKE">
                </form>
            </ul>
            <br>
        %end
        
    <hr>
    <form action='/{{izpis.ime}}/posodobi_odsek/'>
        <h3 style="text-transform:uppercase">odsek tehnike: <input type="text" name="odsek_tehnike" placeholder="..."required
            minlength="3">&nbsp;
        <input type="submit" value="DODAJ ODSEK TEHNIKE"></h3>
    </form>
    <br>
    <a href="http://127.0.0.1:8080">NAZAJ</a>
    <a href="http://127.0.0.1:8080/odjavi/se/">ODJAVA</a>
</body>
<style>
    .form-popup {
        display: none;
        position: fixed;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }
    form {
    display: inline-block;
    }
</style>